
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 207 70% 11%; /* #0D1B2A */
    --foreground: 210 17% 89%; /* #E0E1DD */

    --card: 225 33% 18%; /* #1F2A40 */
    --card-foreground: 210 17% 89%;

    --popover: 225 33% 18%;
    --popover-foreground: 210 17% 89%;

    --primary: 217 100% 61%; /* #3A86FF */
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 265 82% 58%; /* #8338EC */
    --secondary-foreground: 210 40% 98%;

    --muted: 225 33% 18%;
    --muted-foreground: 208 10% 74%; /* #ADB5BD */

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 337 100% 50%; /* #FF006E */
    --destructive-foreground: 210 40% 98%;

    --border: 225 21% 25%;
    --input: 225 21% 25%;
    --ring: 217 100% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
